.about_company
{
    display: flex;
    flex-direction: column;
}

.about_company::after
{
  content: "";
  position: absolute;
  width: 15px;
  height: 1053px;
  background-image: url("../img/about_line.svg");
  left: 49%;
}

.about_company__block
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about_company__block
{
  font-family: "PT Sans";
  font-size: 29px;
  line-height: 36px;
  color: #383838;
}

.about_company__lead
{
  width: 350px;
  margin-top: -70px;
}

.about_company__text
{
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  color: #383838;
}

.about_company__block--progress .about_company__img img
{
  padding-top: 60px;
}

.about_company__block--progress .about_company__description
{
  padding-top: 140px;
}

.about_company__block--progress .about_company__img::after
{
  content: "";
  position: absolute;
  width: 102px;
  height: 102px;
  background-image: url("../img/icon_plus.svg");
  margin-left: 55px;
  margin-top: 100px;
  z-index: 999;
}

.about_company__block--stimul .about_company__img::before
{
  content: "";
  position: absolute;
  width: 102px;
  height: 102px;
  background-image: url("../img/icon_stimul.svg");
  margin-left: -210px;
  margin-top: 100px;
  z-index: 999;
}

.about_company__block--stimul .about_company__img img
{
  padding-top: 60px;
}

.about_company__block--stimul .about_company__description
{
  padding-top: 140px;
}

.about_company__text
{
  margin-top: 20px;
}

.about_company__block--relations .about_company__img::after
{
  content: "";
  position: absolute;
  width: 102px;
  height: 102px;
  background-image: url("../img/icon_releations.svg");
  margin-left: 95px;
  margin-top: 100px;
  z-index: 999;
}

.about_company__block--relations .about_company__description
{
  padding-top: 140px;
  width: 350px;
  text-align: right;
  position: relative;
  right: 20px;
}

.about_company__block--relations .about_company__text
{
  margin-left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .about_company::after
  {
    display: none;
  }

  .about_company__block--progress .about_company__img::after
  {
    display: none;
  }

  .about_company__block--stimul .about_company__img::before
  {
    display: none;
  }

  .about_company__block--stimul .about_company__img::before
  {
    display: none;
  }

  .about_company__block--relations .about_company__img::after
  {
    display: none;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .about_company__block
  {
    display: flex;
    flex-direction: column;
  }

  .about_company::after
  {
    display: none;
  }

  .about_company__block--progress .about_company__img::after
  {
    display: none;
  }

  .about_company__block--stimul .about_company__img::before
  {
    display: none;
  }

  .about_company__block--stimul .about_company__img::before
  {
    display: none;
  }

  .about_company__block--relations .about_company__img::after
  {
    display: none;
  }

  .about_company__block--stimul
  {
    flex-direction: column-reverse;
  }

  .about_company__block--progress .about_company__img img {
    padding-top: 20px;
    padding-left: 40px;
    width: 280px;
}

.about_company__block--stimul .about_company__img img {
     padding-top: 0px;
    padding-left: 35px;
    width: 280px;
}

.about_company__block--relations .about_company__img img {
     padding-top: 0px;
    padding-left: 35px;
    width: 280px;
}

  .about_company__lead {
    margin-left: 40px;
    width: 280px;
    margin-top: -120px;
    margin-bottom: 30px;

}

.about_company__block--relations .about_company__description {
    padding-top: 140px;
    width: auto;
    text-align: center;
    position: relative;
    right: 20px;
}

.about_company__block--relations .about_company__text {
    margin-left: -20px;
}


}
